<h2>CMS</h2>

<ul>
  <li><%= link_to 'Pages', manage_cms_pages_path %></li>
  <li><%= link_to 'Templates', manage_cms_templates_path %></li>
  <li><%= link_to 'Snippets', manage_cms_snippets_path %></li>
</ul>
