<h2 style="text-transform: uppercase;">Sorry, an error occurred</h2>

<p>There was an error loading the page you requested. Please try again later, or contact the site owner if the error persists.</p>

<p style="margin-top: 100px; color: #999;">
  Diagnostic Message:<br>
  <pre style="color: #999"><%= @exception %></pre>
</p>
