# copy this to docker-compose.override.yml and uncomment lines as needed to override default settings
#
# reminder: use `docker ps` to see the list of running containers and their port mappings
#
version: '3.4'

services:
  web:
    ports:
      - '3000:80'        # <---- change the first number to set your local port (on 127.0.0.1)
    volumes:
      - ../mysite:/home/app/myapp:delegated                      # set to (relative) path to site you want to run
      # - .:/home/app/imagine_cms:delegated                      # when working on imagine itself
      # - ./prototype-rails:/home/app/prototype-rails:delegated  # when working on imagine dependency prototype-rails
      - log:/home/app/myapp/log
      - node_modules:/home/app/myapp/node_modules
      - rvm:/usr/local/rvm
    # environment:
    #   PASSENGER_APP_ENV: production

  db:
    ports:               # access using mysql -P (not -p), ex: mysql -h 127.0.0.1 -P 33060 -u root
      # - '33060:3306'   # <---- change the first number to set your local port
      - '3306'           # <---- or omit the first number entirely to use a random local port (use `docker ps`)
    volumes:
      - db-data:/var/lib/mysql
      - ./docker/conf/my.local.cnf:/etc/mysql/conf.d/my.local.cnf

volumes:
  db-data:
  log:
  node_modules:
  tmp:
  rvm:
