<%- unless @template_options.to_h.empty? -%>
<div style="background-color: white; width: 100%; border: 1px solid #aaaaaa;">
  <%- @template_options.to_h.each do |name, type| -%>
    <%- key = name.to_s.gsub(/[^\w\d]/, '_') -%>
    <table width="100%">
      <col width="55%" /><col width="45%" />
      <tr>
        <td><%= name %></td>
        <td>
          <%=
            case type
            when :checkbox
              check_box :page_objects, "obj-option-#{type}-#{key}"
            else
              text_field :page_objects, "obj-option-#{type}-#{key}", :style => 'width: 96%;'
            end
          %>
        </td>
      </tr>
    </table>
  <%- end -%>
</div>
<%- end -%>
