/*
 * CodePress color styles for HTML syntax highlighting
 */

b {color:#2209FF;} /* tags */
ins, ins b, ins s, ins em {color:#2470DB;} /* comments */
s, s b {color:#146B0F;} /* attribute values */
a {color:#2209FF;} /* links */
u {color:#2209FF;} /* forms */
big {color:#2209FF;} /* images */
em, em b {color:#2209FF;} /* style */
strong {color:#800000;} /* script */
tt i {color:darkblue;font-weight:bold;} /* script reserved words */

ins tt {color:#000000;} /* erb */
ins i {color:#2470DB;} /* erb comment */
ins b {color:#3E8495;} /* ruby instance var */
ins u {color:#BD0017;} /* ruby symbol */
