<div style="display: none">
  <div dojoType="ModalFloatingPane" id="properties_dialog" title="Page Properties"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 560px; height: 580px; display: none">
    <div id="properties_dialog_content" style=""></div>
  </div>
  
  <div dojoType="ModalFloatingPane" id="page_browser_dialog" title="Select Page"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 520px; height: 326px;">
    <div>
      <div id="page_browser" style="height: 220px; padding-top: 10px; margin-bottom: 8px;">Loading...</div>
      
      <input id="page_browser_selection" type="text" class="form" style="width: 420px" />
      <button onclick="closePageBrowser(); return false;" class="form" style="width: 70px">Select</button>
    </div>
  </div>
  
  <div dojoType="ModalFloatingPane" id="insert_image_dialog" title="Insert Image"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 650px; height: 580px;">
    <div id="insert_image_dialog_content"></div>
  </div>
  
  <div dojoType="ModalFloatingPane" id="insert_file_dialog" title="Create Download Link"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 650px; height: 580px;">
    <div id="insert_file_dialog_content"></div>
  </div>
  
  <div dojoType="ModalFloatingPane" id="select_thumbnail_dialog" title="Select Thumbnail"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 650px; height: 580px;">
    <div id="select_thumbnail_dialog_content"></div>
  </div>
  
  
  <div dojoType="ModalFloatingPane" id="gallery_dialog" title="Gallery"
       hasShadow="true" resizable="true" followScroll="false" displayCloseAction="true" style="width: 650px; height: 580px;">
    <div id="gallery_dialog_content"></div>
  </div>
  
  
</div>