<%- image = image_draggable -%>
<div id="image_<%= image %>.jpg" style="float: left; cursor: move;">
  <%= image_tag("content/#{path}/#{gallery_id}/management/#{image}.jpg", :size => '90x90') %>
</div>