<%- unless @template_options.empty? -%>
<div style="background-color: white; width: 100%; border: 1px solid #aaaaaa;">
  <%- @template_options.each do |name, type| -%>
    <%- key = name.gsub(/[^\w\d]/, '_') -%>
    <table width="100%">
      <col width="45%" /><col width="55%" />
      <tr>
        <td><%= name %></td>
        <td>
          <%=
            case type
            when :checkbox
              check_box :page_objects, "obj-option-checkbox-#{key}"
            when :string, :text
              text_field :page_objects, "obj-option-string-#{key}", :style => 'width: 100%;'
            end
          %>
        </td>
      </tr>
    </table>
  <%- end -%>
</div>
<%- end -%>
