<h2>CMS</h2>

<ul>
  <li><strong><%= link_to 'Pages', :action => 'pages' %></strong></li>
  <li><%= link_to 'Templates', :action => 'templates' %></li>
  <li><%= link_to 'Snippets', :action => 'snippets' %></li>
</ul>
