<h2>CMS &raquo; Snippets</h2>

<p><%= button_to 'Create New Snippet', { action: 'edit_snippet' }, method: :get %></p>

<%= flash_message %>

<table cellpadding="3" width="400" class="imagine-management">
  <tr>
    <th>Name</th>
  </tr>
  <%= render partial: 'snippet', collection: @snippets %>
</table>
