<h2>CMS &raquo; Templates</h2>

<p><%= button_to 'Create New Template', :action => 'edit_template' %></p>

<%= flash_message %>

<table cellpadding="3" width="400" class="imagine-management">
  <tr>
    <th>Name</th>
  </tr>
  <%= render :partial => 'temp', :collection => @temps %>
</table>
