<h2>CMS &raquo; Templates</h2>

<p><%= button_to 'Create New Template', new_manage_cms_template_path, method: :get %></p>

<%= flash_message %>

<table cellpadding="3" width="400" class="imagine-management">
  <tr>
    <th>Name</th>
  </tr>
  <%= render @cms_templates %>
</table>
