<%-
  @nav_sections = []
  
  if is_logged_in_user?
    @nav_sections << [ 'Users', { :controller => '/manage/users' } ] if user_has_permission?(:manage_users)
  end
-%>

<ul>
  <li>
  <%= (@nav_sections.map { |nav| link_to(nav[0], nav[1]) }.safe_join('</li><li>')) %>
  </li>
</ul>

<p>You should override this page in your own application.</p>
