<%- if user_has_permission?(:manage_cms) || user_has_permission?(:manage_users) -%>
<h2>
  Manage Your Site
</h2>

<%= flash_message %>

<p>
  <ul>
    <%- if user_has_permission? :manage_cms -%>
    <li><%= link_to 'CMS', :controller => '/management/cms', :action => 'index' %>
        - Manage content management system</li>
    <%- end -%>
    <%- if user_has_permission? :manage_users -%>
    <li><%= link_to 'Users', :controller => '/management/users', :action => 'index' %>
        - Grant management access to employees</li>
    <%- end -%>
  </ul>
</p>
<%- end -%>

<p>
  <ul>
    <li><%= link_to 'Change your password', :controller => '/management/users', :action => 'edit', :id => session[:user_id] %></li>
  </ul>
</p>
