<%- if params[:action] != 'preview_template' -%>
  <style type="text/css">
    #mainCCSToolbar { font-family: Arial; font-size: 12px; font-weight: normal; text-transform: none; line-height: 1.2; color: black; }
    #mainCCSToolbar a { text-transform: none; font-weight: normal; color: black; }
  </style>
  <table id="mainCCSToolbar" cellpadding="0" cellspacing="0" border="0" width="100%" style="display: none">
    <%- if [ 'content', 'cms' ].include?(controller.controller_name) && params[:action] != 'preview_template' -%>
      <tr>
        <td>
      <%- if is_editing_page? -%>
        <div dojoType="Editor2" widgetId="main_toolbar" useActiveX="false" htmlEditing="true" focusOnLoad="false"
          toolbarTemplatePath="<%= url_for :controller => '/management/cms', :action => 'toolbar_edit', :id => @pg, :version => params[:version] %>"
          toolbarTemplateCssPath="/assets/dojo/src/widget/templates/EditorToolbarFullFeature.css"
          toolbarAlwaysVisible="true" style="height: 22px; vertical-align: middle" toolbarGroup="main">
        </div>
      <%- else -%>
        <div dojoType="Editor2" widgetId="main_toolbar" useActiveX="false" htmlEditing="false" focusOnLoad="false"
          toolbarTemplatePath="<%= url_for :controller => '/management/cms', :action => 'toolbar_preview', :id => @pg, :version => params[:version] %>"
          toolbarTemplateCssPath="/assets/dojo/src/widget/templates/EditorToolbarFullFeature.css"
          toolbarAlwaysVisible="true" style="height: 25px; vertical-align: middle">
        </div>
      <%- end -%>
        </td>
      </tr>
    <%- end -%>
      </td>
    </tr>
  </table>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function(event) {
      if (loggedIn()) $('mainCCSToolbar').show();
    });
  </script>
<%- end -%>
