/* From Eric Meyer, Web coding guru, at http://meyerweb.com/eric/tools/css/reset/ */
/*
	Any style rule denoted with [+] has been added.
	Any rule with [*] has been modified.
*/
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal; /* [+] */
}
strong { font-weight: bold; }
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Body, Text, Images */

html { background-color: #ededed; }

body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 17px;
       color: #000000; background-image: none; margin: 0; }

p { font-family: Arial, Helvetica, sans-serif; margin: 0px 0px 12px 0px; }

table { padding: 0; margin: 0; }
td { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 17px; }

h1 { margin: 0px 0px 10px 0px; color: #000000;
    font-size: 20px; line-height: 25px; font-weight: bold; position: relative; }
h1 a { position: absolute; left: 242px; bottom: -2px; font-size: .6em; }
    
h2 { margin: 0px 0px 8px 0px; color: #506D91;
     font-size: 16px; line-height: 18px; font-weight: bold; }

h3 { margin: 0px 0px 8px 0px; color: #666666;
     font-size: 14px; line-height: 16px; font-weight: normal; }
    
.error { font-size: 12px; line-height: 14px; color: #E10E12; }
.notice { font-size: 12px; line-height: 14px; color: #3131FF; }

a         { font-weight: bold; }
a:link    { text-decoration: underline; color: #506D91; }
a:active  { text-decoration: underline; color: #506D91; }
a:visited { text-decoration: underline; color: #506D91; }
a:hover   { text-decoration: underline; color: #000000; }

img { border: none; margin: 0; padding: 0; }

.clearer { clear: both; line-height: 0; height: 0; }

#management-content ul { list-style-type: disc; list-style-position: outside; margin: 0 0 15px 20px; }
#management-content ol { list-style-type: decimal; list-style-position: outside; margin: 0 0 15px 20px; }


/** auto complete **/

div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
div.auto_complete ul li {
    margin: 0;
    padding: 3px;
}
div.auto_complete ul li.selected { 
    background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
    color: #800; 
    margin: 0;
    padding: 0;
}


/** column browser **/

.cb_item {
    color: black;
    padding-left: 2px;
}

.cb_item_selected {
    color: white;
    background-color: #506D91;
}


table.imagine-management tr:hover { background-color: #fff8c6; }
table.imagine-management th { background-color: #dedede; text-transform: uppercase; }
